<div id="wrapper">
    <div th:insert="header"></div>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div class="container-fluid">

                <h1 class="h3 text-center font-weight-bold" style="font-size: 4.5rem; margin-top: 40px;">Allevamento</h1>

                <div class="row">

                    <div class="col-xl-6 col-md-7 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Guadagno Annuale</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="sommatotale"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-7 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2 text-center">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Umidità</div>
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" id="umiditaValore"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-7 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2 text-center">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Precipitazioni</div>
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" id="precipitazioniValore"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-7 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2 text-center">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Temperatura</div>
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" id="temperaturaValore"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div xmlns:th="http://www.thymeleaf.org">
                    <div class="row">

                        <div class="col-xl-6 col-lg-2">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Produzione Annualo</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Guadagno totale per tipo di animale
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-2" xmlns:th="http://www.thymeleaf.org">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Percentuale guadagno per tipologia animale</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie position-relative">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card shadow margin-left-3">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                                        <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Prezzo €</th>
                                            <th>quantita</th>
                                            <th>Tonnellate</th>
                                            <th>Guadagno Totale €</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script th:src="@{/js/allevamento/allevamento.js}"></script>
    </div>

    <div th:insert="footer"></div>
</div>
