<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Naturlink</title>

  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Include jQuery -->
  <script type="text/javascript" charset="utf8" th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>

  <!-- Include DataTables JS -->
  <script type="text/javascript" charset="utf8" th:src="@{https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js}"></script>

</head>

<body id="page-top">
<header>

<div th:insert="nav"></div>

</header>