


  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{agricolo.html}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa-solid fa-leaf"></i>
      </div>
      <div class="sidebar-brand-text mx-3">NaturLink</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">Settori</div>

    <!-- Nav Items -->
    <li class="nav-item">
      <a class="nav-link" href="agricolo.html">
        <span>Agricolo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <span>Minerario</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <span>Pesca</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <span>Allevamento</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <span>Sivicoltura</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

  </ul>
